<form [formGroup]="form" (ngSubmit)='saveObservacion($event)' class="text-center">
  <mat-card>
    <div class="row mb-3">
      <mat-card-header>
        <mat-card-title>Agregar Observacion</mat-card-title>
      </mat-card-header>
    </div>

      <mat-card-content>
    
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea matInput placeholder="Observacion" formControlName="descripcion"></textarea>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]='form.invalid' mat-raised-button type="submit">Guardar</button>
      <button mat-raised-button type="button" (click)="close()">Cancelar</button>
    </mat-card-actions>

  </mat-card>

</form>